# Python
__pycache__/
*.py[cod]
*.pyo

# Django
venv/
*.sqlite3
staticfiles/

# Environment variables
.env
.env.*

# Node
node_modules/

# Build files
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Virtual environment
backend/venv/

# Environment files
backend/.env
frontend/.env